.sst1 {fill:#305497;stroke:#ffffff;stroke-width:0.25}
.sst2 {fill:#feffff;font-family:黑体;font-size:0.833336em}
.sst3 {fill:#4672c4;stroke:#feffff;stroke-width:0.25}
.sst4 {fill:#305497;stroke:#feffff;stroke-width:0.25}
.sst5 {fill:#4672c4;stroke:#ffffff;stroke-width:0.25}
.sst6 {marker-end:url(#mrkr5-24);stroke:#90aadb;stroke-linecap:round;stroke-linejoin:round;stroke-width:3}
.sst7 {fill:#90aadb;fill-opacity:1;stroke:#90aadb;stroke-opacity:1;stroke-width:0.54347826086957}
.sst8 {fill:none;fill-rule:evenodd;font-size:12px;overflow:visible;stroke-linecap:square;stroke-miterlimit:3}