<ion-view view-title="我">
  <ion-content>
    <ion-list>
    	<div class="item item-avatar item-icon-right">
		    <img src="img/perry.png">
		    <h2>金刚</h2>
		    <p>萨南深冷站</p>
		    <i class="icon ion-chevron-right icon-accessory"></i>
		  </div>
	    <div class="item item-divider item-icon-right">
		    快捷方式
		    <i class="icon ion-link"></i>
		  </div>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-card"></i>
		    操作卡
		    <i class="icon ion-chevron-right icon-accessory"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-location"></i>
		    巡检路线图
		    <i class="icon ion-chevron-right icon-accessory"></i>
		  </a>

		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-home"></i>
		    当班录入
		    <i class="icon ion-compose"></i>
		  </a>

		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-document-text"></i>
		    信息发布
		    <i class="icon ion-compose"></i>
		  </a>
			<div class="item item-divider">
		    系统工具
		  </div>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-ios-people"></i>
		    通讯录
		    <span class="badge badge-assertive" ng-show="0">0</span>
		    <i class="icon ion-chevron-right icon-accessory"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-ios-help"></i>
		    帮助
		    <span class="badge badge-assertive">2</span>
		    <i class="icon ion-chevron-right icon-accessory"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-gear-b"></i>
		    设置
		    <span class="badge badge-assertive" ng-show="0">0</span>
		    <i class="icon ion-chevron-right icon-accessory"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#/login">
		    <i class="icon ion-android-exit"></i>
		    退出登录
		    <i class="icon ion-chevron-right icon-accessory"></i>
		  </a>
    </ion-list>
  </ion-content>
</ion-view>
