
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
	border-radius: 0;
}

.item-avatar-heigh .badge {
	top: 26px;
}

.item-image h2 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
}

.item-image .item-content {
  padding: 0;
}

.item-td {
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.login-view {
	background-image: url('../img/background1.jpg');
	background-size: cover;
}

.login-view .list-inset {
	background-color: transparent;
}

.login-view .item {
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  color: #fff;
}

.login-view .item-header {
	margin-top: 50px;
	background-color: transparent;
	border: none;
}

.login-view .item-header h2 {
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.login-view .item-header p {
	color: rgba(255, 255, 255, .6);
	text-align: center;
	font-size: 16px;
}

.hr-divider {
	text-align: center;
	font-size: 12px;
	color: #666;
	margin: 10px 0 0 0;
}

.scroll-iframe .scroll{
	height: 100%;
}

.app-row .item .badge {
  top: 19px;
  right: 20px;
}

.app-row {

}

.app-row .item {
	text-align: center;
	border: none;
}

.app-row .item h4{
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}

.app-row .item-complex .item-content{
  padding: 25px 0 0 0;
}

.post {
	padding: 10px 20px;
}

.post h3 {
	font-weight: normal;
	margin: 10px 0;
}

.post .post-divider {
	margin: 15px 0 25px 0;
}

.post .post-divider>strong {
	
}

.post h5 {
	font-size: 16px;
}

.post p {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 180%;
}

.item.button-bar > .button {
  border-radius: 0;
  border-width: 0 0 0 1px;
}

.item.button-bar > .button:first-child {
  border-left: 0;
}

.item .text-label {
	display: inline-block;
	width: 80px;
	margin-right: 10px;
	text-align: right;
}

.item .text-number {
	font-size: 180%;
	margin: 15px 0;
}

.item-chart {
	padding: 0px;
}

.item-chart h2{
  font-size: 14px;
}

.item-chart p{
  font-size: 12px;
}

.item .widget {
	margin-top: -16px;
}

.item .p-m {
	padding: 20px;
}

.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}

.navy-bg h1 {
	font-size: 30px;
	color: #fff;
	margin: 5px 0;
	font-weight: normal;
}

.navy-bg h3 {
	font-size: 16px;
	color: #fff;
	margin: 0;
}

.col-text {
	text-align: center;
}

table>thead>tr>th {
	border-bottom: #ddd 2px solid;
	padding: 8px 5px;
	text-align: left;
	font-weight: bold;
}

table>tbody>tr>td {
	border-bottom: #ddd 1px solid;
	padding: 8px 5px;
	color: #555;
}