
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1489574393024'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1489574393024#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1489574393024') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1489574393024') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1489574393024#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before { content: "\e614"; }

.icon-search:before { content: "\e650"; }

.icon-jiantou:before { content: "\e619"; }

.icon-yonghu:before { content: "\e64d"; }

.icon-tongzhi:before { content: "\e60e"; }

.icon-xinxiweidu:before { content: "\e604"; }

.icon-wancheng:before { content: "\e643"; }

.icon-back:before { content: "\e605"; }

.icon-off:before { content: "\e603"; }

.icon-yidu:before { content: "\e624"; }

.icon-fanhui:before { content: "\e658"; }

.icon-yiduxiaoxi-:before { content: "\e61e"; }

.icon-zhongguoshiyou:before { content: "\e611"; }

.icon-jiantou-copy:before { content: "\e8db"; }

.icon-fanhui-copy:before { content: "\e8dc"; }

