body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.pcu-bg img{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    z-index: -1;
}

.nav-head{
    background-color: transparent;
    border-radius: 0;
    border: 0;
    z-index: 99;
    padding-top: 15px;
    margin-bottom: 0 !important;
    padding-left: 0;
    padding-right: 0;
}

#box {
    display: inline-block;
    margin-top:7px ;
}
input[type=search] {
    float: right;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.8);
    padding:5px 10px;
    border-radius: 50px;
    width: 180px;
    outline: none;
    margin-right: 7px;
    transition: all .2s;
}
input[type=search]:focus {
    width: 300px;
}
::-webkit-input-placeholder {
    font-family:'Open Sans', sans-serif;
    text-align: center;
}
input[type=search]:focus {
    border: 1px solid #00bcd4;
    padding-left: 30px;
}

.from-text{
    color: rgba(255,255,255,.8);
}

.icon-zhongguoshiyou{
    font-size: 45px !important;
    color:rgba(255,255,255,.8);
}

.icon-zhongguoshiyou:hover,.icon-zhongguoshiyou:focus{
    color:#ffffff;
}

.nav-logo{
    margin-left: -25px;
}

.nav-logo>img{
    width: 20%;
    margin-top: -15px;
}


.nav-head-icon>li>a{
    color: #b3e5fc !important;
    font-size: 16px;
    z-index: 99;
}

.nav-head-icon>li>a>.iconfont{
    font-size: 20px;
}

.nav-head-icon>li>a{
    font-size: 16px;
    z-index: 99;
}

.nav-head-icon>li>a:hover,.nav-head-icon>li>a:focus{
    color: #ffffff !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
}

.dropdown-box{
    border: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,.5);
}

.dropdown-box li a{
    color: rgba(255,255,255,.8);
    line-height: 2em;
}

.dropdown-box li a:hover{
    background-color:#00bcd4 ;
    color: #ffffff;
}

.message-corner{
    position: absolute;
    top: 9px;
    right: -2px;
    background-color: #e51c23;
}

.message li:last-child a{
    margin-right: 0;
}

.personal li:last-child a{
    margin-right: 0;
}


.carousel-inner {
    overflow: inherit;
}

.carousel-control{
    position: fixed;
    width: 4%;
}

.carousel-control:hover, .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=50);
    outline: 0;
    opacity: .5;
}

.carousel-indicators{
    position: fixed;
    bottom: 84%;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
}

.carousel-indicators li{
    width: 8px;
    height: 8px;
}

.jiantou-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 40px;
    left: 80%;
}

.jiantou-right {
    margin-right: -15px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
    right: 80%;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    font-size: 40px;
}

.left>.iconfont,.right>.iconfont{
    font-size: 20px;
}


.deskstop-row{
    margin-bottom: 6%;
    margin-top: 6%;
}

.desktop-icon{
    text-align: center;
}

.desktop-icon img{
    width: 60%;
}

.desktop-icon img:hover{
    transform: scale(1.25,1.25);
    transition-timing-function:ease;
    transition: width 0.5s, height 0.5s, transform 0.5s;

}


.desktop-icon p{
    color: #ffffff;
    line-height: 40px;
    font-size: 16px;
}


.deskstop-row>div{
    margin-top: 1%;
    margin-bottom: 2%;
}

.panel {
     margin-bottom: 0px;
}


*, *:after, *:before {
    box-sizing: border-box;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 200%;
    padding-left: 54px;
    /*background: #333;*/
}

.wrapper {
    margin: auto;
    position: relative;
}

.fake-close-label {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.folder-title {
    color: #f0f0f0;
    display: block;
    text-align: center;
    padding-top: .6em;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    position: absolute;
    top: 106%;
}

/*.folder-vice-title{*/
    /*position: absolute;*/
    /*top: 2%;*/
    /*left: 41%;*/
    /*font-size: 18px;*/
    /*color: rgba(255,255,255,.8);*/
/*}*/


[type='checkbox'] {
    display: none;
}
[type='checkbox']:checked + .folder {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
[type='checkbox']:checked ~ .fake-close-label {
    pointer-events: auto;
}
[type='checkbox']:checked ~ .folder-content {
    width: 400px;
    height: 426%;
    top: -200%;
    left: -50%;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    pointer-events: auto;
    background: rgba(255,255,255,.87);
}


[type='checkbox']:checked ~ .folder-content .app span {
    opacity: 1;
}

.folder-content h4 {
    display: none;
}

[type='checkbox']:checked ~ .folder-content h4 {
    display: block;
    color:#1F2D3D;
    font-weight:400;
}

.folder {
    border-radius: 48% !important;
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 89px;
    height: 89px;
    background: rgba(255,255,255,.5);
    top: 5px;
}

.folder-content {
    padding: 0.75em;
    padding-left: 32%;
    padding-right: 36%;
    width: 12em;
    height: 9em;
    overflow: hidden;
    top:-85%;
    left: -37%;
    pointer-events: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateZ(0) scale(0.3);
    transform: translateZ(0) scale(0.3);
    border-radius: .4em;
    position: absolute;
    z-index: 9999;
}

.app {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: .4em;
    /*width: 3.1em;*/
    height:0em;
}
.app i {
    color: #fff;
    width: 1.5em;
    line-height: 2em;
    font-size: 1.2em;
    display: block;
    border-radius: .4em;
}

.app>a>i>img{
    width: 130%;
    margin-left: 13%;
}


.app, .app span {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.app span {
    opacity: 0;
    display: block;
    font-size: 14px;
    margin-top: .6em;
    color: #475669;
    text-align: center;
}


#content {
    width: 940px;
    padding: 10px;
    margin: 0 auto;
}
#content h1 { color: #333; line-height: 1em; }
#content ul { padding-left: 0; list-style: none; }
#content ul li { margin-bottom: 20px; }

#modal { display: none; }
#modal a { background: #CCC; color: #333; font-weight: bold; padding: 5px 10px; border: none; }
#modal a:hover { background: #aaa; }

pre { border: 1px solid #CCC; background-color: #EEE; color: #333; padding: 10px 20px; }





@media screen and (max-width: 750px) {
    body{
        overflow-y:hidden ;
        overflow-x:hidden;
    }

    .pcu-bg img{
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .nav-head-icon{
        float: left !important;
        margin-top: -50px;
    }

    .nav-search{
        width: 200px !important;
    }

    .nav-head-icon>li{
        float: left;
        display: inline-block;
    }

    .column {
        padding: 0 !important;
    }

    .sb-icon-search, .sb-search-submit {
        top: -11px !important;
    }

    .icon-zhongguoshiyou{
        font-size: 32px !important;
    }

    .box>input{
        border-radius: 50px !important;
        background-color: transparent;
        color:rgba(255,255,255,.8);
        border-color:rgba(255,255,255,.8) ;
    }

    .form-control:focus {
         border-color: rgba(255,255,255,.8);
         outline: 0;
         -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
         box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
    }


    .navbar-brand{
        padding-left: 0;
    }

    .folder {
        width: 45px;
        height: 45px;
        top: 1px;
        left: 21px;
    }

    .folder-title {
        text-align: left;
        width: 200%;
        left: -5px;
    }

    .folder-content {
        padding-left: 0;
        padding-right: 0;
        top: -188%;
        left: -84%;
    }

    .app>a>i>img {
        width: 80%;
        margin-left:0;
    }

    [type='checkbox']:checked ~ .folder-content {
        width: 267px;
        height: 426%;
        top: -206%;
        left: -124%;
    }

    [type='checkbox']:checked ~ .folder-content h4 {
        font-size: 14px;
    }

    .nav-head-icon {
        margin-right: -5%;
        width: 100%;
    }

    .nav-logo>img {
        width: 15%;
        margin-top: -15px;
        margin-left: 38px;
    }

    .deskstop-icon p{
        font-size: 14px;
    }

    .dropdown-box{
        background-color: rgba(0,0,0,.8) !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
        color: #ffffff !important;
    }

    .dropdown-box li{
        text-align: center;
    }

    .dropdown-box li>a{
       line-height: 2em;
    }

    .nav-head-icon{
        display: inline-flex;
        margin-top: -48px;
        margin-left: 20px;
    }

    .cbp-spmenu-right {
        right: 290px;
        height: 100%;
    }

    .cbp-spmenu-right.cbp-spmenu-open {
        right: -290px;
    }

    .carousel-indicators .active {
        width: 8px;
        height: 8px;
    }

    .carousel-indicators li {
        width: 6px;
        height: 6px;
    }

    input{
        float: right;
        background-color: transparent;
        border: 1px solid rgba(255,255,255,.8);
        padding:5px 10px;
        border-radius: 50px;
        width: 180px;;
        margin-right: 7px;
    }
    .from-text{
        color: rgba(255,255,255,.8);
        margin-right: 0 !important;
        margin-bottom: 15px;
    }

    .from-password{
        margin-bottom: 40px;
    }

    .logo {
        padding-bottom: 8%;
    }

    .modal {
        padding: 10%;
        width: 450px;
        margin: 50% 0 0 -60%;
        position: relative;
        top: 10%;
        left: 50%;
        background-color: transparent;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .modal-panel-icon img{
        width: 60%;
    }

    .modal-panel-icon img:hover,.modal-panel-icon img:focus{
        transform: scale(1,1);
    }

    .deskstop-row>div{
        margin-top: 1% !important;
        margin-bottom: 0!important;
    }

    .modal-row div{
        margin-top: 1%;
        margin-bottom: 1%;
    }

}


.message{
    border: 0;
    border-bottom: 1px solid #99A9BF;
    margin-top: 44px;
}

.message-content{
    border-bottom: 1px solid #C0CCDA;
    padding: 0px 15px 15px 15px;
    margin-bottom: 0;
}

.message-content-more{
    padding: 0;
    margin: 0;
    border-bottom: 0;
    text-align: center;
}

.message-content-more>a>p{
    color: #8492A6;
}

.message>li{
    width: 33.33%;
    text-align: center;
    border: 0;
}

.message>li>a{
    border-radius: 0;
    color: #8492A6;
}

.message>li>a:hover{
    background-color: transparent;
    color: #1F2D3D;
    border: 0   ;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #00bcd4;
    cursor: default;
    background-color: transparent;
    border-bottom:2px solid #00bcd4 !important;
    border: 0;
}

.nav-tabs>li>a:hover {
    border-color:transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
    text-decoration: none;
    background-color: transparent;
}

.tab-pane-icon{
    margin-right: 10px;
    font-size: 14px !important;
}


.message-id{
    margin-top: 14px;
    margin-bottom: 0;
    color:#F9FAFC;
    float: right;
    line-height: normal;
}

.message-id-success{
    color: #009688;
}

.message-id-wd{
    color: #fc9c07;
}

.personal-center{
    padding-top: 0;
}

.cbp-spmenu .list-group-item{
    background-color: transparent;
    border: 0 ;
    /*border-bottom: 1px solid rgba(255,255,255,.2);*/
    line-height: 3em;
    width: 100%;
    color: #ffffff;
    border-radius: 0;
    /*margin-top: 0 !important;*/
}

.list-group>p{
    color:#8492A6;
    margin-bottom: 9px;
    padding-left: 48px;
    font-size: 12px;
}


.cbp-spmenu .list-group-item:hover{
    background-color: transparent;
    color: #ffffff;
}

.tabpanel-time{
    color:#8492A6;
    font-weight:300 ;
    padding-left: 23px;
}

.abp-spmenu-off{
    margin-bottom:10px;
    margin-top: 10px;
    position: fixed;
    top: 0;
}

.abp-spmenu-off>a{
    margin-left: 13px;
    color: rgba(255,255,255,.8);
}

.abp-spmenu-off>a>span{
    font-size: 16px;
    color: #1F2D3D;
}


/*sign in*/

.logo{
    text-align: center;
    padding-top: 10%;
}

.logo img{
    max-width: 100%;
}

.sign-in{
    width:260px;
    margin: auto;
    padding-top: 2%;
}

.from-text{
    background-color: transparent;
    border-radius:0 ;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,.8);
}


.form-control:focus {
     border-color: #00bcd4;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
     box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
}

.form-control{
    color: #1F2D3D;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
}

.sign-form-control{
    color: #F9FAFC;
}

.form-group>label{
    color:#475669;
    font-weight: 400;
    margin-bottom: 0;
}

.from-button{
    background-color: transparent;
    border-radius: 0;
    color:#EFF2F7 ;
    margin-top: 15%;
    border-color: #fff;
    font-size: 15px;
}

.from-button:hover,.from-button:focus{
    background-color: #00bcd4;
    border-radius: 0;
    color: #ffffff;
    border-color:#00bcd4 ;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
}

.modal-box-panel{
    border-radius: .8em;
    border: 0;
    background-color: rgba(255,255,255,.87);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}


.modal-box{
    background-color: transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    border: 0 !important;
}

.modal-box-heading{
    border: 0;
    font-size: 16px;
    color: #1F2D3D !important;
    background-color:transparent !important;
    padding: 15px 25px 15px 25px;
}

.modal-box-body{
    background-color:transparent;
    border: 0 !important;
    padding-top: 0;
    padding-right: 25px;
    padding-left: 25px;
}

.modal-backdrop.in {
    opacity: 0;
}

.modal-footer-btn{
    border-radius: .4em;
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #00bcd4;
    color: #00bcd4;
}


.modal-footer-btn:hover,.modal-footer-btn:focus{
    background-color: #00bcd4;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #00bcd4;
    color: #fff;
}



.personal-center-modal>ul>li{
    width: 25%;
    text-align: center;
}

.personal-center-modal>ul>li>a{
    color: #8492A6;
}

.personal-center-modal>ul>li>a:hover{
    color: #1F2D3D;
}

.personal-center-modal>ul{
    border-bottom: 1px solid #99A9BF;
}


.personal-center-modal-tab{
    margin-top: 24px;
}

.personal-center-modal-tab-content{
    width: 80%;
}

.personal-center-modal-tab-content>p{
    color: #1F2D3D;
    line-height: 1.5em;
}

.personal-center-modal-tab-bj>p{
    padding-bottom: 0;
    padding-top: 0;
}

.personal-center-modal-tab-input{
    border-radius: .4em !important;
    border-color: #99A9BF;
    background-color: rgba(255,255,255,.2);
}

.personal-center-modal-tab-content>p>img{
    width: 20%;

}

.personal-center-modal-tab-name{
    color: #D3DCE6;
    text-align: left;
    width: 20%;
}

.form-group {
    margin-bottom:24px !important;
}

/* WebKit browsers */
.personal-center-modal-tab-input::-webkit-input-placeholder {
    color: #8391a5;
    text-align: left;
}
/* Mozilla Firefox 4 to 18 */
.personal-center-modal-tab-input:-moz-placeholder {
    color: #8391a5;
    text-align: left;
}
/* Mozilla Firefox 19+ */
.personal-center-modal-tab-input::-moz-placeholder {
    color: #8391a5;
    text-align: left;
}
/* Internet Explorer 10+ */
.personal-center-modal-tab-input:-ms-input-placeholder {
    color: #8391a5;
    text-align: left;
}

.desktop-icon-button{
     background-color:transparent;
     border:0;
     padding: 0;
}


.desktop-icon-button:hover{
    background-color:transparent ;
}


.list-group-item {
    padding: 8px 15px;
}

.list-group-item-image{
    width: 48px;
    height: 48px;
}

.list-group-item-image-contnet{
    color: #ffffff;
}

.list-group-item-finish-contnet>h5,.list-group-item-finish-contnet>p{
    color: #8492A6 !important;
}

.list-group-item-finish-contnet>h5:hover{
    color: #8492A6 !important;
}

.message-finish-time{
    color: #8492A6 !important;
}

.list-group-item-image-contnet>p{
    color: #475669;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 16px;
}

/*.list-group-item-image-contnet>p:hover{*/
    /*color: #00bcd4;*/
/*}*/

.list-group-item-image-contnet>h5{
    font-size: 16px;
    margin-bottom: 16px;
    color: #1F2D3D;
    font-weight: 400;
}

.list-group-item-image-contnet:hover{
    color: #fff;
}

.list-group-item-image-contnet>h5:hover{
    color: #1F2D3D;
}

.list-group-item-image>a>img{
    width: 100%;
    margin-top: -20px;
}

.message-time{
    margin-right: 10px;
}

.message-user-information{
    color: #475669;
}



/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
.nav-search{
    width: 600px;
}

.sb-search {
    margin-right: 15px;
    position: relative;
    width: 0%;
    min-width: 22px;
    height: 45px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    border-bottom:1px solid #81d4fa;
    padding-left: 22px;
    background-color: transparent;
    color: #fff;
    position: absolute;
    top: 0;
    right: 22px;
    border-top: none;
    border-left:none ;
    border-right: none;
    outline: none;
    /*background: #fff;*/
    width: 100%;
    height: 45px;
    margin: 0;
    z-index: 10;
    border-radius: 0 ;
}

.sb-search-input::-webkit-input-placeholder {
    color: #ffffff;
}

.sb-search-input:-moz-placeholder {
    color: #ffffff;
}

.sb-search-input::-moz-placeholder {
    color: #ffffff;
}

.sb-search-input:-ms-input-placeholder {
    color: #ffffff;
}

.sb-icon-search,
.sb-search-submit  {
    width: 22px;
    height: 45px;
    display: block;
    position: absolute;
    right: 0;
    top: -6px;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    z-index: 90;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}


.icon-search{
    color: #b3e5fc;
    font-size: 23px !important;
    top:0px;
}

.icon-search:hover,.icon-search:focus{
    color: #fff;
}

/* Main Content */

.column {
    float: right;
    width: 30%;
    position: relative;
}

.column:nth-child(2) {
    box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}


/* To Navigation Style */
@media screen and (max-width: 46.0625em) {
    .column {
        width: 100%;
        padding: 1em;
    }

    .column:nth-child(2) {
        box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    }
}

@media screen and (max-width: 25em) {

    .codrops-icon span {
        display: none;
    }

}
